body {
    display: flex; flex-direction: column; 
    background-image: url('imagenes/wallpaper.PNG');

}

h1{
    font-family: "Pacifico", cursive;
    font-size: 35px;
    color: #fb8500;
    font-style: normal;
}
h2{
    font-family: "Pacifico", cursive;
    font-size: 25px;
    color: #023047;
    font-style: normal;
}
h3{
    font-family: "Pacifico", cursive;
    font-size: 25px;
    color: #219ebc;
    font-style: normal;
}


p{
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      }
ul{
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      }


a:link, a:visited, a:hover, a:active {
    color: inherit; 
    text-decoration: none;
}
.content {
     flex: 1; 
     width: 100%;
    }
.container1 {
    width: 100%;
}

.container2 {
    width: 100%;
    background-color: #023047;
    flex: auto;
}

.footer {
    margin-top: -20px;
    background-color: #252525;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;   
    padding: 5px;
    }

 
    
.special-table {
 
     border-collapse: collapse;
 }
 
 .special-table td {
     padding: 5px;
     position: relative; 
     background-color: #8ecae6; 
     color:#023047;
     padding-left: 20px;
     padding-right: 20px;
     font-size: 16px;
 }
 
 .special-table .tooltip .tooltiptext {
     visibility: hidden;
     width: 100px;
     background-color: black;
     color: #8ecae6;
     text-align: center;
     border-radius: 5px;
     padding: 5px;
     position: absolute;
     z-index: 1;
     bottom: 100%; 
     left: 50%;
     margin-left: -60px;
     opacity: 0;
     transition: opacity 0.3s;
 }
 
 .special-table .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
 }
 
 .special-table .tooltip:hover {
     background-color:black; 
     color: #fb8500;;
 }


 
.carousel {
    position: relative;
    max-width: 700px;
    max-height: 350px;
    margin: 30px;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 1 0 100%;

}

.carousel-item img {
    width: 30%;
    height: auto;
    margin-left: 35px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -10px;
    color: #ffb703;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #219ebc;
    color: #fb8500;
}

.tabla1
{
    border-color: #023047;
    height: auto;
    width: auto;
    border-spacing: 5px;
    text-align: justify;
    margin: 15px;
    padding: 50px;
    border: 30px;
   
}
